:host {
  display: block;
  border-radius: 3px;
  box-shadow: 3px 3px 2px #ccc;
  margin: 20px 0;
}

/*@keyframes marked {*/
  /*0% {*/
    /*transform: scale(1);*/
  /*}*/
  /*50% {*/
    /*transform: scale(1.005);*/
  /*}*/
  /*100% {*/
    /*transform: scale(1);*/
  /*}*/
/*}*/

:host(.inactive) {
  border: 1px solid #ccc;
  color: #ccc;
}

.form-control {
  display: inline-block;
  width: 25%;
}
